version: '3.8'


services:
    mongodb:
        image: mongo:6
        container_name: mongo
        restart: unless-stopped
        ports: 
           - "27017:27017"
        environment:
            MONGO_INITDB_DATABASE: tg-cloudflare-bot
        volumes:
           - mongo_data:/data/db


volumes:
    mongo_data:
            